<div class="row spe-blog-latest">
    <div class="col-xs-12 spe-blog-latest__heading-block">
        <h2>{{ heading_title }}</h2>
    </div>
    <div class="col-xs-12">
        <ul class="nav nav-pills spe-blog-latest__nav">
            {% set flag = 0 %}
            {% for category in categories %}
                <li {% if flag == 0 %} class="active" {% endif %}>
                    <a href="#spe-blog-{{ category.id }}" data-toggle="pill">{{ category.name }}</a>
                </li>
                {% set flag = 1 %}
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% set flag = 0 %}
            {% for key, articlecat in articles %}
                <div id="spe-blog-{{ key }}" class="tab-pane fade {% if flag == 0 %} in active {% endif %}">
                    {% for article in articlecat %}
                        <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12 spe-blog-latest__article">
                            <a href="{{ article.href }}">
                                <div class="product-thumb transition">

                                    <div class="image">
                                        <img src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" class="img-responsive" />
                                    </div>

                                    <div class="caption">

                                        <h4>{{ article.name }}</h4>

                                        <p>{{ article.description }}</p>

                                        {% if article.rating %}
                                            <div class="rating">
                                                {% for i in 1..5 %}
                                                    {% if article.rating < i %}
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star-o fa-stack-2x"></i>
                                                        </span>
                                                    {% else %}
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-2x"></i>
                                                            <i class="fa fa-star-o fa-stack-2x"></i>
                                                        </span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                {% set flag = 1 %}
            {% endfor %}
        </div>
    </div>
</div>

