{% if modules or spe_col_left_contoller %}
    <aside id="column-left" class="col-sm-3 hidden-xs">

        {% if spe_col_left_contoller %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="spe-cat-breadcramb">
                        {% if speallcat %}
                            <h3>{{ speallcat }}</h3>
                        {% elseif breadcrumbs %}
                            <ul class="breadcrumb">
                                {% for breadcrumb in breadcrumbs %}
                                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                                {% endfor %}
                            </ul>
                        {% elseif spe_search_column_title %}
                            <h3>{{ spe_search_column_title }}</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% for module in modules %}
            {{ module }}
        {% endfor %}
    </aside>
{% endif %}
