<div class="container-fluid">
    <div class="row spe-banner-row-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>
                        {{ spe_banner_row_name }}
                    </h2>
                </div>
                {% for banner in banners %}
                    <div class="col-sm-3 spe-banner-row-block__item">
                        {% if banner.link %}
                            <a class="spe-banner-row-block__item_img" href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
                        {% else %}
                            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="spe-banner-row-block__item_img img-responsive" />
                        {% endif %}
                        {% if banner.link %}
                            <a href="{{ banner.link }}" class="spe-banner-row-block__item_caption">{{ banner.title }}</a>
                        {% else %}
                            <span class="spe-banner-row-block__item_caption">{{ banner.title }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>