<div class="row spe-banner-prod-block">
    <div class="col-xs-12 spe-banner-prod-block__title-block">
        <h2>{{ title_main }}</h2>
    </div>
    <div class="spe-banner-prod-block__img-block col-xs-12 col-sm-8 htwincol">
        <img class="spe-banner-prod-block__img-block_image img-responsive" src="{{ banner_image }}" alt="">
    </div>
    <div class="spe-banner-prod-block__item-block col-xs-12 col-sm-4 htwincol">

        <div class="panel panel-default spe-banner-prod-panel">
            <div class="panel-heading spe-banner-prod-panel__heading">
                <span class="spe-banner-prod-panel__heading_text">{{ product.name }}</span>
            </div>
            <div class="panel-body spe-banner-prod-panel__body">
                <div>
                    <div class="spe-banner-prod-panel__body__advant">
                        <ul>
                            <li>{{ advant }}</li>
                            <li>{{ advant2 }}</li>
                            <li>{{ advant3 }}</li>
                            <li>{{ advant4 }}</li>
                            <li>{{ advant5 }}</li>
                            <li>{{ advant6 }}</li>
                        </ul>
                    </div>
                    <div class="spe-banner-prod-panel__body__price">
                        {% if product.price %}
                            <p class="price">
                                {% if not product.special %}
                                    {{ product.price }}
                                {% else %}
                                    {{ product.special }}
                                    <span class="price-old">{{ product.price }}</span>
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                    <div class="spe-banner-prod-panel__body__btn-block">
                        <button class="spe-banner-prod-panel__body__btn-block_btn" type="button" onclick="cart.add('{{ product.product_id }}');">
                            {{ button_cart }}
                        </button>
                    </div>
                    <div class="spe-banner-prod-panel__body__stock">
                        {% if product.stock %}
                            <span class="spe-banner-prod-panel__body__stock_title-in">{{ in_stock }}</span>
                        {% else %}
                            <span class="spe-banner-prod-panel__body__stock_title-off">{{ stock_off }}</span>
                        {% endif %}
                    </div>
                    <div class="spe-banner-prod-panel__body__subtxt">
                        {{ subtxt }}
                    </div>

                </div>
            </div>
            <div class="panel-footer spe-banner-prod-panel__footer">
                <a class="spe-banner-prod-panel__footer_link" href="{{ product.href }}">{{ link_title }}</a>
            </div>
        </div>

    </div>

</div>

{# Выровнять по высоте блоки с указанным классом #}
<script>
    function equalHeight( selector )
    {
        var tallest = 0;
        jQuery( selector ).each(function(){
            var thisHeight = jQuery( this ).height();
            if( thisHeight > tallest ){
                tallest = thisHeight;
            }
        });
        jQuery( selector ).height( tallest );
    }


    if( jQuery(window).width() > 300 ){
        equalHeight( ".htwincol" );
    }
</script>