<div class="row">
    <nav>
        <ul class="top-menu">
            {% for parent in spemenu %}
                {% if not parent.children is null %}
                    {% if parent.type_item == 'type-cat' %}
                        <li>
                            <a href="#" class="dropdown">{{ parent.title }}</a>
                            <ul class="submenu">
                                {% for category_child in parent.children %}
                                    <li>
                                        <ul>
                                            <li>
                                                <a href="{{ category_child.href }}">
                                                    <img src="{{ category_child.image }}">
                                                </a>
                                            </li>
                                            <li>
                                                <h3 class="image-header"><a href="{{ category_child.href }}">{{ category_child.name }}</a></h3>
                                            </li>
                                        </ul>

                                        {% if not category_child.childs is null %}
                                            <ul>
                                                {% set childs_count = 0 %}
                                                {% for category_child_child in category_child.childs if childs_count < 3 %}
                                                    <li><a href="{{ category_child_child.href }}">{{ category_child_child.name }}</a></li>
                                                    {% set childs_count = childs_count + 1 %}
                                                    {% if childs_count >= 3 %}
                                                        <li><a href="{{ category_child.href }}">Все категории >></a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                    </li>
                                {% endfor %}
                                <li class="spe-menu-block-txt">
                                    <ul>
                                        <li>
                                            <a href="{{ category_child.href }}">
                                                <img src="{{ category_child.image }}">
                                            </a>
                                        </li>
                                        <li>
                                            <h3 class="image-header"><a href="{{ category_child.href }}">{{ category_child.name }}</a></h3>
                                        </li>
                                        <li>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                    {% else %}
                        <li style="position: relative;">
                            <a href="{{ parent.link }}" class="dropdown-standart">{{ parent.title }}</a>
                            <ul class="submenu-standart">
                                {% for child in parent.children %}
                                    <li>
                                        <a href="{{ child.link }}">{{ child.title }}</a>

                                        {% if not child.children is null %}
                                            <ul>
                                                {% for child_child in child.children %}
                                                    <li><a href="{{ child_child.link }}">{{ child_child.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ parent.link }}">{{ parent.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

</div>