<div class="swiper-viewport spe-slide-show">
  <div id="speslideshow{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">
        {% for banner in banners %}
            <div class="swiper-slide text-center" data-name="{{ banner.title }}">
                {% if banner.link %}
                    <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
                {% else %}
                    <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
                {% endif %}
            </div>
        {% endfor %} </div>
  </div>
  <div class="swiper-pagination slideshow{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<script type="text/javascript">
$('#speslideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
    pagination: '.slideshow{{ module }}',
    paginationClickable: true,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
	autoplay: 2500,
    autoplayDisableOnInteraction: true,
	loop: true,
    paginationType: 'custom',
    paginationCustomRender: function(swiper, current, total) {
        var names = [];
        $(".swiper-wrapper .swiper-slide").each(function(i) {
            names.push($(this).data("name"));
        });
        var text = "<span style='background-color:transparent;padding:20px;'>";
        for (let i = 1; i <= total; i++) {
            if (current == i) {
                text += "<span style='display: inline-flex; width:160px; word-wrap: break-word; border-top:1px solid green;margin-right:4px;color:green;padding:10px;'>" + names[i] + "<br>" + names[i] + "</span>";
            } else {
                text += "<span style='display: inline-flex; width:160px; word-wrap: break-word; border-top:1px solid white;margin-right:4px;color:white;padding:10px;'>" + names[i] + "<br>" + names[i] + "</span>";
            }

        }
        text += "</span>";
        return text;
    }
});
</script>