<div class="container">
    <div class="row spe-banner-color-block">
        <div class="col-sm-12">
            <span>
                {{ spe_banner_color_name }}
            </span>
        </div>
        {% for banner in banners %}
            <div class="col-sm-3">
                {% if banner.link %}
                    <a href="{{ banner.link }}">
                        <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive"/>
                    </a>
                {% else %}
                    <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive"/>
                {% endif %}
                <span>
                    {{ banner.title }}
                </span>
            </div>
        {% endfor %}
    </div>
</div>