<div class="container">
    <div class="row spe-banner-color-block">
        <div class="col-sm-12 spe-banner-color-block__block-title">
            <h2>
                {{ spe_banner_color_name }}
            </h2>
        </div>
        {% set i = true %}
        {% for banner in banners %}
            <div class="col-xs-6 col-sm-3" >
                <div class="panel panel-default spe-banner-color-panel">
                    <div class="panel-body spe-banner-color-panel__body" style="background: url({{ banner.image }});">
                        <div class="{% if i == true %}spe-banner-color-panel-vertical-end{% else %}spe-banner-color-panel-vertical-top{% endif %}">
                            <div class="spe-banner-color-panel__body_cap">
                                {{ banner.title2 }}
                            </div>
                            <div class="spe-banner-color-panel__body_text">
                                {{ banner.title3 }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer spe-banner-color-panel__footer" style="background: {{ banner.color }}">
                        {{ banner.title }}
                    </div>
                </div>
            </div>
            {% set i = not i %}
        {% endfor %}
    </div>
</div>